.story {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.4em;
  margin: auto;
  margin-bottom: 60vh;
  /* border: 5px solid purple; */
  border-radius: 20px;
  opacity: 0.2;
  width:60%
}

.start-story{
  margin-bottom:5vh;
}

.top-header {
  margin-bottom:300px;
}

.bottom-header {
  margin-top:800px;
}

.text {
  margin: auto;
  margin-top: 100vh;
  margin-bottom:10vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.6em;
  /* border: 5px solid purple; */
  border-radius: 20px;
  width:60%
}

.tick {
  font-size: 18px;
}

.map {
  margin-top:5vh;
}

#ridgeline-step4 {
  margin-bottom:50vh;
}
#ridgeline-step5 {
  margin-top: 0;
}

#linechart-step6 {
  margin-bottom: 60vh;
}

#custom-tooltip {
  width:70%;
  margin:auto;
}

.image {
  margin:auto;
  width:70%
}

.image img {
  width:100%;
  margin: auto;
}

#selectButton {
  opacity: 0;
}

.toggle-data-buttons {
  opacity: 0;
}

#bottomSources {
  margin-top: 500px;
  padding:200px;
}